$blue-sapphire: #05668dff;
$steel-blue: #427aa1ff;
$alice-blue: #ebf2faff;
$maximum-green: #679436ff;

// SECOND PALETTE

$smoky-black: #131112;
$spanish-green: #109648;
$white: #fcfcfc;
$teal-blue: #007991;
$rich-black: #000807;