@import "../../../../../assets/scss/variables";

.anime-item {
    padding: 0.5em 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background-color: lightgrey;
    }

    .sub-title {
        font-size: 0.8rem;
        color: rgba($smoky-black, 0.5);
    }

    .badge {
        border-radius: 20%;
        background-color: $spanish-green;
        padding: 0.2em 0.5em;
        color: $white;
        font-weight: 400;
        font-size: 1.2rem;
        margin-left: 0.5em;
    }
}

@media (min-width: 800px) {
    .anime-item {
        .anime-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
