@import "../../../../../assets/scss/variables";

.anime-card {
    text-align: center;
    box-shadow: rgba($rich-black, 0.24) 0px 0px 8px;
    border-radius: 10px;

    width: 80%;
    height: 100%;
    margin: 0 auto;

    .anime-poster {
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        max-width: 100%;
    }
    
    .anime-info {
        padding: .5em 1em;
    }
}

@media (min-width: 850px) {
    
}
