@import "../../../../assets/scss/variables";

.top-airing-container {
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: rgba($rich-black, 0.3) 0px 0px 8px;
    display: grid;
    margin: 1em;
    color: $smoky-black;

    .container-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            text-transform: uppercase;    
            justify-self: center;
    
            // &::after {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     background-color: rgba($teal-blue, 0.3);
            //     height: 15px;
            //     margin-top: -15px;
            //     margin-left: 15px;
            // }
        }

        .caret-icon {
            cursor: pointer;
            color: $smoky-black;
        }
    }

    

}