@import "../../../../assets/scss/variables";

.actual-animes-container {
    padding: 1em;

    .container-header {
        display: grid;
        margin-bottom: 1.5em;

        .title {
            text-transform: uppercase;    
            justify-self: center;
        }
    }

    .season-filters {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .filter {
            padding: .8em 1em;
            text-align: center;
            font-weight: 400;
            text-transform: capitalize;
            box-shadow: rgba($rich-black, 0.24) 0px 0px 8px;
            cursor: pointer;
            caret-color: transparent;
            border-radius: 10px;
            border: 1px solid rgba($smoky-black, 0.1);
            letter-spacing: 1px;

            &+.filter {
                margin-left: .5em;
            }

            &:active,
            &:focus,
            &:hover {
                box-shadow: none;
            }

            &.active {
                background-color: $spanish-green;
                border: 1px solid rgba($spanish-green, 0.1);
                color: white;
            }


        }
    }

    .anime-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em 0;
    }
}

@media (min-width: 800px) {
    .actual-animes-container {
        .anime-list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}